<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="host=localhost;port=5432;database=one-press;user id=postgres;password=Riz286" providerName="Npgsql" />
   <!-- <add name="Default" connectionString="host=108.175.14.92;port=5678;database=one-press;user id=rizvan;password=Rizvan!@#786" providerName="Npgsql" /> -->
  </connectionStrings>
  <appSettings>
    <add key ="Path" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key ="Interval" value ="60000"/>
    <add key ="ScheduledStartTime" value ="09:00"/>
    <add key ="ScheduledEndTime" value ="18:00"/>
  </appSettings>
</configuration>